
    <h1>Save any kind of movies</h1>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">My Lists</h3>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-flat" %>
  </div>

    <% @lists.each do |list| %>

        <%= link_to list_path(list) do %>
          <p><%= list.name %></p>
        <% end %>

    <% end %>

</div>
